@{
    Layout = "_LayoutAlignity";
    ViewBag.Title = "Accueil";
}

<h1>Accueil</h1>

@section Navigation {
    <ul>
        <li class="selected">@Html.ActionLink("Accueil", "Index")</li>
        <li>@Html.ActionLink("Création d'un utilisateur", "CreateUser")</li>
        <li>@Html.ActionLink("Liste des utilisateurs", "ListUsers")</li>
    </ul>
}

