<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Site.css">
    <title>@ViewBag.Title</title>
</head>

<body>
    <section class="section-left">
        <div class="image-container">
            <img src="/src/aurora.jpg" alt="image">
        </div>
    </section>

    <section class="section-right">
        <nav>
            @RenderSection("Navigation", required : false)
        </nav>

        <div>
            @RenderBody()
        </div>

    </section>

    @RenderSection("Scripts", required  : false)
</body>

</html>
