ul {
    width: fit-content;
}

.section-left {
    background-color: #1C5B78;
}

.section-right {

}

.top-bar {
    background-color: rgb(215, 215, 215);
}


.logo-pic {
    height: 8em;
    width: 8em;
}

.profile-pic {
    height: 50px;
    width: 50px;
}

h1 {
    text-align: center;
    font-size: 3em;
}

article {
    width: 75%;
}

p {
    text-align: justify;
}
